@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: azure;
}

.space {
  height: 24px;
}

.title {
  position: center;
  height: 150px;
  font-size: 50px;
  font-weight: bold;
}

.subtitle {
  position: center;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
}

.space_h{
  margin-right: 10px;
}
